.content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 3rem;

    &__left {
        display: flex;
        align-items: flex-start;
        padding-right: 3rem;
        .white {
            color: white;
        }
        h1 {
            font-size: 2.4rem;
            font-weight: 600;
        }
        .white {
            padding: 1.4rem 0;
            line-height: 1.8rem;
        }
    }
    
    &__right {
        position: relative;
        display: flex;
        justify-content: center;
        .phone {
            width: 80%;
        }
        .ring1 {
            position: absolute;
            bottom: 10%;
            right: 0;
            left: auto;
            animation: move2 20s infinite;
            transition: all 0.4s ease-in-out;
        }
        .message1 {
            position: absolute;
            top: 0;
            right: 0;
            left: auto;
            animation: move 5s infinite;
            transition: all 0.4s ease-in-out;
        }
        .message2 {
            position: absolute;
            bottom: 15%;
            left: 0;
            transition: all 0.4s ease-in-out;
            animation: move 8s infinite;
            animation-delay: 0.5s;
            transition: all 0.4s ease-in-out;
        }
    }

    .message1 {
        @keyframes move {
            0% {
                transform: translateY(0) rotate(0) scale(1) translateX(0);
            }
            50% {
                transform: translateY(-10px) rotate(20deg) scale(1.1) translateX(10px);
            }
            100% {
                transform: translateY(0) rotate(0deg) scale(1) translateX(0);
            }
        }
        @keyframes move2 {
            0% {
                transform: translateY(0) rotate(0) scale(1) translateX(0);
            }
            50% {
                transform: translateY(-10px) rotate(60deg) scale(1.1) translateX(10px);
            }
            100% {
                transform: translateY(0) rotate(0deg) scale(1) translateX(0);
            }
        }
    }

    @media screen and (max-width: 1200px) {
        &__right .phone {
            width: 100%;
        }
    }

    @media screen and (max-width: 800px) {
        grid-template-columns: repeat(1, 1fr);
        &__left {
            padding: 0;
            h1 {
                font-size: 2.2rem;
            }
        }

        &__right {
            padding-top: 4rem;
            .phone {
                width: 100%;
            }
            .message1 {
                width: 35%;
            }
            .ring1, .message2 {
                width: 30%;
            }
        }
    }

    @media screen and (max-width: 500px) {
        &__left {
            h1 {
                font-size: 1.5rem;
            }
            .white {
                font-size: 14px;
                line-height: 1.4rem;
            }
        }

        &__right {
            padding-top: 0;
            .phone {
                width: 80%;
            }
            .message1 {
                width: 25%;
            }
            .ring1, .message2 {
                width: 20%;
            }
        }
    }
}