.secondary-btn {
    max-width: max-content;
    background-color: var(--dark-primary);
    padding: 0.7rem 2rem;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    border-radius: 20px;
    outline: none;
    border: none;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
        padding-left: 1rem;
    }
}