.card-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  &__left {
    padding: 1rem 0;
    p {
      padding-bottom: 20px;
      ul {
        padding: 20px;
        li {
          list-style: disc;
        }
      }
    }
  }

  &__right {
    padding-left: 10px;
    display: flex;
    justify-content: flex-end;
    img {
      width: 100%;
      border-radius: 50px;
      filter: drop-shadow(0px 50px 100px rgba(22, 25, 79, 0.15));
    }
  }

  @media screen and (max-width: 1350px) {
    &__right img {
      width: 90%;
    }
  }

  @media screen and (max-width: 800px) {
    grid-template-columns: repeat(1, 1fr);
    &__right {
      padding: 0;
      justify-content: center;
    }
  }

  @media screen and (max-width: 500px) {
    &__left {
      h2 {
        font-size: 1.5rem;
      }
      p {
        font-size: 14px;
        line-height: 1.4rem;
      }
    }
  }
}
