.card-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    &__left {
        padding: 1rem 0;
    }

    &__right {
        padding-left: 10px;
        display: flex;
        justify-content: flex-end;
        img{
            filter: drop-shadow(0px 50px 100px rgba(22, 25, 79, 0.15));
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            border-radius: 25px;
        }
    }
}