.card {
  background-color: #fff;
  padding: 1rem 2rem;
  border-radius: 70px;
  max-width: 500px;
  height: max-content;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.1) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.25) 0px -2px 6px 0px inset;

  &__title {
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--dark-primary);
    text-align: center;
    padding: 10px 0;
    position: relative;
    &::after {
      display: block;
      position: absolute;
      content: "";
      width: 45px;
      height: 3px;
      background: var(--purple-primary);
      border-radius: 8px;
      left: 45%;
    }
  }

  &__amount {
    font-size: 2rem;
    font-weight: 900;
    color: var(--dark-primary);
    text-align: center;
    padding: 10px 0;
    span {
      font-size: 14px;
    }
  }

  &__desc {
    position: relative;
    padding-bottom: 20px;
    &::after {
      display: block;
      position: absolute;
      content: "";
      height: 1px;
      width: 90%;
      bottom: 0px;
      left: 5%;
      background-color: var(--border-colour);
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    padding: 1rem;
    button {
      padding: 10px 20px;
      border-radius: 20px;
      background-color: #fff;
      border: 2px solid var(--border-colour);
      outline: none;
      font-size: inherit;
      cursor: pointer;
      transition: 0.2s all ease-in-out;

      &:hover {
        background-color: #886491;
        color: #fff;
      }
    }
  }

  &__detail {
    padding: 1rem;
    p {
      display: flex;
      align-items: center;
      padding: 4px 0;
      img {
        width: 28px;
        padding-right: 10px;
      }
    }
  }

  &:hover {
    // box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  }
}
