.card {
  background-color: #fff;
  padding: 1rem 2rem;
  border-radius: 50px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
              rgba(0, 0, 0, 0.1) 0px 30px 60px -30px,
              rgba(10, 37, 64, 0.25) 0px -2px 6px 0px inset;

  h4 {
    font-size: 2rem;
    color: var(--dark-primary);
    text-align: center;
    padding: 1rem 0;
    span {
      font-size: 1.5rem;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    padding: 1rem;
    button {
      padding: 10px 20px;
      border-radius: 10px;
      background-color: #fff;
      border: 2px solid var(--border-colour);
      outline: none;
      font-size: inherit;
      cursor: pointer;
      transition: 0.2s all ease-in-out;

      &:hover {
        background-color: var(--purple-primary);
        color: #fff;
      }
    }
  }

  &__image {
    display: flex;
    justify-content: center;
    img {
      width: 80%;
    }
  }

  &__plan {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0;
    img {
      padding: 0 0.3rem;
    }
  }

  &__detail {
    padding: 1rem;
    p {
        display: flex;
        align-items: center;
        padding: 4px 0;
        img { 
            width: 28px;
            padding-right: 10px; 
        }
        &:nth-child(5),
        &:nth-child(6),
        &:nth-child(7),
        &:nth-child(8) {
            color: #b7b7b7;
        }
    }
  }
}
