.navigation {
  display: flex;
  justify-content: space-between;
  min-height: 10vh;
  align-items: center;
  padding-top: 1rem;

  &__logo {
    width: 18%;
    img {
     width: 100%; 
    }
  }

  ul {
    display: flex;
    justify-content: space-evenly;
    width: 60%;

    li {
      position: relative;
      padding: 10px;
      cursor: pointer;
      &:after {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: #fff;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
      }

      &:hover:after {
        width: 100%;
        left: 0;
      }
    }
  }

  &__button {
    display: flex;
    justify-content: flex-end;
    align-self: center;
  }

  @media screen and (max-width: 800px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    &__button {
      justify-content: flex-start;
      flex-direction: column;
    }
    &__logo {
      display: flex;
      justify-content: flex-start;
      padding: 1rem;
      width: 100%;
    }
    ul {
      width: 100%;
    }
  }

  @media screen and (max-width: 480px) {
    ul {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
