.payment {
  &__card {
    padding-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;

    @media screen and (max-width: 800px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  @media screen and (max-width: 500px) {
      h3 {
        font-size: 1.5rem;
      }
      p {
        font-size: 14px;
        line-height: 1.4rem;
      }
    }
}
